Linux_qt/
QtGui/Linux/
QtGui/QtMakefile.Linux
QtSerial/Linux/
QtSerial/QtMakefile.Linux
catalogues.h
charmap.c
charset7.h
consts.c
consts.h
font.c
lcdmap.h
pretty.h
revision.h
translate.c
user_consts.h
wp34s_pp.lst
xrom.c
xrom_labels.h
xrom_pre.wp34s
xrom_targets.c
